/**NAVIGATION**/
#area__navigation {
  color: $black;
  position: absolute;
  bottom:0px;
  left:0px;
  height:100px;
  width:1920px;
  padding:0;
  z-index: 99;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  @include shadowDeep;
  background-color: $white;

  }

/* MENU STYLE */
.menu__list {
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0;
  padding:0;
	list-style: none;
  width:1920px;
  z-index:0;
}

.menu__item {
	display: block;
	margin: 1em 0;
  height: 100px;
}

.menu__link {
	font-size: 48px;
  line-height:65px;
	font-weight: bold;
	display: block;
	padding: 1em;
	cursor: pointer;
  text-decoration: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.menu__link:hover,
.menu__link:focus {
	outline: none;
}

.menu__item {
	margin: 0;
}

.menu__link {
	width: 384px;
	height: 100px;
	text-align: center;
  //adjust vertical alignement of links
  padding:0;
  line-height: 100px;
	color: $blue;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;

}

.menu__item--current .menu__link {
	color: $red;
	-webkit-transition: color 0.5s;
	transition: color 0.5s;
  //background-color:$white;
  //z-index: 999 !important;
}

.menu__line {
  position: absolute;
  //triangle vertical position
  top: -25px;
  left: 0px;
  width: 384px;
  height: 65px;
  display:none;
  padding-left:0px;
  pointer-events: none;
  border-width: 0 0px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transition-timing-function: cubic-bezier(1, 0.01, 0, 1);
  -webkit-transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22);
  transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22);
  -webkit-transform: translate3d(200%, 0, 0);
  transform: translate3d(200%, 0, 0);
}

.triangle {
  width: 0;
  height: 0;
  position:relative;
  left:172px;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 25px solid $white;
}


.menu__item:nth-child(1).menu__item--current ~ .menu__line {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.menu__item:nth-child(2).menu__item--current ~ .menu__line {
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
}

.menu__item:nth-child(3).menu__item--current ~ .menu__line {
	-webkit-transform: translate3d(200%, 0, 0);
	transform: translate3d(200%, 0, 0);
}

.menu__item:nth-child(4).menu__item--current ~ .menu__line {
	-webkit-transform: translate3d(300%, 0, 0);
	transform: translate3d(300%, 0, 0);
}

.menu__item:nth-child(5).menu__item--current ~ .menu__line {
	-webkit-transform: translate3d(400%, 0, 0);
	transform: translate3d(400%, 0, 0);
}









